<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="/styles_home.css"/>
</head>
<body>

<hr class="spacer">

<div th:if="${role.contains('ROLE_USER')}" class="button-container">
    <a href="/orderPlacement/newParcel" class="button">PLACE NEW ORDER</a>
    <br/>
    <a href="/processing/tracking" class="button">TRACK YOUR ORDER</a>
    <br/>
    <a href="/processing/collect" class="button">COLLECT ORDER</a>
    <br/>
    <a href="/parcelMachines" class="button">View Parcel Machines locations</a>
    <br/>
</div>

<div th:if="${role.contains('ROLE_ADMIN')}" class="button-container">

    <a href="/processing" class="button">ASSIGN TASKS FOR COURIERS</a>
    <br/>
    <a href="/processing/showIndividualTasks" class="button" style="color:#7e5645">SHOW MY TASKS</a>
    <br/>
    <br/>
    <br/>
    <a href="/parcelMachines" class="button">View Parcel Machines locations</a>
    <br/>
    <a href="/users" class="button">View All Users</a>
    <br/>
    <a href="/parcels" class="button">View All Parcels</a>
    <br/>
    <a href="/deliveryDetails" class="button">View all Deliveries</a>
    <br/>
</div>

<hr class="spacer">

<a style="color:white" href="/">Main page</a>
<br/><br/>
<a style="color:white" href="/logout">Exit</a>


</body>
</html>