<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles_general.css"/>
    <title>Enter Delivery Details</title>
</head>
<body>

<form th:method="POST" th:action="@{/orderPlacement/newDispatchAddress}" th:object="${details}">
    <label for="recipient"> Enter Recipient's name: </label>
    <input type="text" th:field="*{recipient}" id="recipient"/>
    <div style="color:red" th:if="${#fields.hasErrors('recipient')}" th:errors="*{recipient}">Recipient error</div>
    <br/>
    <label for="recipientsPhoneNumber"> Enter Recipient's phone number: </label>
    <input type="text" th:field="*{recipientsPhoneNumber}" id="recipientsPhoneNumber"/>
    <div style="color:red" th:if="${#fields.hasErrors('recipientsPhoneNumber')}" th:errors="*{recipientsPhoneNumber}">recipient's Phone Number error</div>
    <br/>

    <input type="submit" value="Register!"/>
</form>

<br/><br/><br/><br/>

<a href="/">Main page</a>
<br/><br/>
<a href="/logout">Exit</a>

</body>
</html>