<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles_general.css"/>
    <title>Delivery Details</title>
</head>
<body>

<p th:text="'Delivery ID: ' + ${deliveryDetails.getId()} + ', status: ' + ${deliveryDetails.getStatus()}">value</p>
<br/>
<a th:text="'Dispatch address: ' + ${deliveryDetails.getDispatchParcelMachine().getAddress()}"/>
<br/>
<a th:text="'Destination address: ' + ${deliveryDetails.getDestinationParcelMachine().getAddress()}"/>
<br/>
<a th:text="'Recipients name: ' + ${deliveryDetails.getRecipient()} + ', phone number: ' + ${deliveryDetails.getRecipientsPhoneNumber()}"/>
<br/>
<br/>
<br/>


<a href="/">Main page</a>
<br/><br/>
<a href="/logout">Exit</a>

</body>
</html>