body {
    font-family: 'Georgia', serif;
    background-image: url('/landing_page 2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    min-height: 100vh;
    margin-left: 3%;
}
h1 {
    font-size: 3em;
    font-weight: normal;
    color: #680001;
    text-align: left;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    margin-top: 1%;

}
p {
    color: #988e99;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

a {
    color: #3c1e08;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #A0522D;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

hr.spacer {
    border: none;
    height: 155px;
}