body {
    font-family: 'Georgia', serif;
    background-image: url('landing_page.jpg');
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    min-height: 100vh;
    margin-left: 6%;
}

p {
    color: #988e99;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    font-size: 16px;
}

a {
    color: #8B4513;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

hr.spacer {
    border: none;
    height: 155px;
}

.button-container {
    margin-top: 20px;
    transform: translateX(-0.5%);
}

.button {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 1em;
    color: #493729;
    background-color: #a39664;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
    background-color: #680001;
    transform: translateY(-0.5px);
    color: white;
}

@media (max-width: 1100px) {
    body {
        background-image: url('auth_page.jpg');
        margin-left: 4%;
        background-position: top left;
        background-size: auto 100%;
        overflow: auto;
    }

    form {
        top: 20%;
        left: 5%;
        max-width: 85%;
    }

    input[type="text"], input[type="password"] {
        width: 90%;
    }

    input[type="submit"] {
        width: 90%;
    }
}

@media (max-width: 480px) {
    body {
        background-image: url('auth_page.jpg');
        margin-left: 4%;
        background-position: top left;
        background-size: auto 100%;
    }

    form {
        top: 20%;
        left: 5%;
        max-width: 80%;
    }
}