<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles_general.css"/>
    <title>Order Confirmation</title>
</head>
<body>

<h style="font-weight: bold">Order Confirmation</h>
<br/>
<br/>

<a th:text="'Sender\'s name: ' + ${user.getFullName()}"></a>
<br/>
<a th:text="'Sender\'s phone number: ' + ${user.getPhoneNumber()}"></a>
<br/>
<a th:text="'Sender\'s email: ' + ${user.getEmail()}"></a>
<br/><br/>

<a th:text="'Recipient\'s name: ' + ${details.getRecipient()}">value</a>
<br/>
<a th:text="'Recipient\'s phone number: ' + ${details.getRecipientsPhoneNumber()}">value</a>
<br/>
<br/>
<a th:text="'Parcel Weight: ' + ${parcel.getWeight()} + ' kilograms'">value</a>
<br/>
<a th:text="'Parcel Dimensions: ' + ${parcel.getLength()} + ' x ' +  ${parcel.getWidth()} + ' x ' + ${parcel.getHeight()} + ' centimeters'">value</a>
<br/>
<br/>
<a th:text="'Dispatch address: ' + ${machines.get(0).getAddress()}">value</a>
<br/>
<a th:text="'Destination address: ' + ${machines.get(1).getAddress()}">value</a>
<br/>
<br/>
<form th:method="POST" th:action="@{/orderPlacement/proceed}">
    <input type="hidden" name="terminate" value="no"/>
    <input style="font-weight: bold" type="submit" value="CONFIRM ORDER!"/>
</form>
<br/>
<br/>

<form th:method="POST" th:action="@{/orderPlacement/proceed}">
    <input type="hidden" name="terminate" value="yes"/>
    <a th:text="'Incorrect order?'"></a>
    <br/>
    <input style="font-weight: bold" type="submit" value="Re-enter order details!"/>
</form>

<br/><br/><br/><br/><br/><br/><br/><br/>
<a href="/">Main page</a>
<br/><br/>
<a href="/logout">Exit</a>


<br/>

</body>
</html>