<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="/styles_auth.css"/>
</head>
<body>

<h1 style="color:beige; font-weight: normal">PARCEL PATRONUS</h1>

<form name="f" method="post" action="/process_login">
    <label for="username">Enter username: </label>
    <input type="text" name="username" id="username" />
    <br/>
    <label for="password">Enter password: </label>
    <input type="password" name="password" id="password" />
    <br/>
    <input type="submit" value="Login" />
    <div th:if="${param.error}" style="color: red">
        Invalid username or password
    </div>
    <br/>
    <br/>
    <p style="font-weight: lighter; color:beige" >Still don’t have an account? <a style="color: #866237" href="/registration">Register now</a> to get started!</p>

</form>

</body>
</html>