<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration page</title>
    <link rel="stylesheet" href="/styles_auth.css"/>

</head>
<body>

<h1 style="font-weight: normal; color:beige">PARCEL PATRONUS</h1>

<form th:method="POST" th:action="@{/registration}" th:object="${user}">
    <label for="username"> Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color:red; font-size: smaller " th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br/>
    <label for="password"> Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red; font-size: smaller " th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <label for="passwordCheck"> Confirm password: </label>
    <input type="password" name="passwordCheck" id="passwordCheck"/>
    <div style="color:red; font-size: smaller" th:if="${passwordError != null}" th:text="${passwordError}">Password confirmation error</div>
    <br/>
    <label for="fullName"> Enter full name: </label>
    <input type="text" th:field="*{fullName}" id="fullName"/>
    <div style="color:red; font-size: smaller " th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Full name error</div>
    <br/>
    <label for="phoneNumber"> Enter phone number: </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
    <div style="color:red; font-size: smaller " th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone number error</div>
    <br/>
    <label for="email"> Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red; font-size: smaller " th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br/>
    <input type="submit" value="Register!"/>
    <br/><br/>
    <p style="font-weight: lighter; color:beige" >Already have an account?  <a style="color: #866237" href="/login">LOGIN</a></p>
    <br/>
</form>

</body>
</html>