<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles_general.css"/>
    <title>Parcel Machine</title>
</head>
<body>

<br/>
<p th:text="${machine.getAddress()}" style="font-weight: bold">value</p>
<br/><br/>
<a th:text="'Available boxes: '">value</a>
<br/><br/>
<a th:text="'Size S: ' + ${machine.getAvailableBoxesSizeS()}">value</a>
<br/>
<a th:text="'Size M: ' + ${machine.getAvailableBoxesSizeM()}">value</a>
<br/>
<a th:text="'Size L: ' + ${machine.getAvailableBoxesSizeL()}">value</a>
<br/>
<a th:text="'Size XL: ' + ${machine.getAvailableBoxesSizeXL()}">value</a>
<br/>



<br/>
<br/>
<a href="/">Main page</a>
<br/><br/>
<a href="/logout">Exit</a>


</body>
</html>