<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles_general.css"/>
    <title>Track your delivery</title>
</head>
<body>

<h1 style="font-size: 1.5em">Parcel Patronus </h1>
<p>Your Trusted Partner in Parcel Delivery</p>
<br/>
<br/>
<br/>
<br/>
<br/>

<form style="font-weight: bold" th:method="POST" th:action="@{/processing/getStatus}">
    <label for="cc"> Enter tracking number: </label>
    <input type="text" name="trackingNumber" id="cc"/>
    <input type="submit" style="font-weight: bold" value="TRACK"/>
</form>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<a href="/">Main page</a>
<br/><br/>
<a href="/logout">Exit</a>


</body>
</html>




