<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles_general.css"/>
    <title>Parcel</title>
</head>
<body>


<a th:text="'Sender: ' + ${parcel.getSender().getFullName()}" style="font-weight: bold">value</a>
<br/>
<a th:text="'Recipient: ' + ${parcel.getDeliveryDetails().getRecipient()}" style="font-weight: bold">value</a>
<br/>
<a th:text="'Current status: ' + ${parcel.getDeliveryDetails().getStatus()}">value</a>
<br/>
<a th:text="'Dimensions: ' + ${parcel.getLength()} + ' x ' +  ${parcel.getWidth()} + ' x ' + ${parcel.getHeight()} + ' centimeters'">value</a>
<br/>
<a th:text="'Weight: ' + ${parcel.getWeight()}">value</a>
<br/>


<br/><br/><br/>
<a href="/">Main page</a>
<br/><br/>
<a href="/logout">Exit</a>

</body>
</html>