<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles_general.css"/>
    <title>Delivery Status Updates</title>
</head>
<body>

<h1>Parcel Patronus </h1>
<p>Your Trusted Partner in Parcel Delivery</p>
<br/> <br/> <br/> <br/> <br/>




<a th:text="'Sender: ' + ${delivery.getParcel().getSender().getFullName()}">value</a>
<br/>
<a th:text="'Recipient: ' + ${delivery.getRecipient()}">value</a>
<br/>
<br/>
<a style="font-weight: bold; color:#680001" th:text="'Current status: ' + ${delivery.getStatus()}">value</a>
<br/><br/>
<a style="font-weight: bold" th:text="'Delivery Status Updates: '"></a>
<br/>
<a th:utext="${delivery.getFormattedStatusTracking()}"></a>
<br/><br/>

<br/><br/><br/><br/><br/><br/>



<a href="/">Main page</a>
<br/><br/>
<a href="/logout">Exit</a>


</body>
</html>




