<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles_general.css"/>
    <title>Collect your order</title>
</head>
<body>

<h1 style="font-size: 1.5em">Parcel Patronus </h1>
<p>Your Trusted Partner in Parcel Delivery</p>
<br/> <br/> <br/> <br/> <br/>




<form style="font-weight: bold" th:method="POST" th:action="@{/processing/confirm}">
    <label for="doorCode"> Enter door code: </label>
    <input type="text" name="code" id="doorCode"/>
    <input type="submit" style="font-weight: bold" value="COLLECT"/>
</form>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>



<a href="/">Main page</a>
<br/><br/>
<a href="/logout">Exit</a>


</body>
</html>